html{
    height: 100vh;
}
body{
    background-color: rgb(65, 65, 65);
    margin: 0;
    height: 100vh;
}

header{
    background: linear-gradient(to bottom, aqua, rgb(65,65,65));
    padding: 2vh 0;
    margin: 0;
    border-radius: 5px;
}

.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    display: block;
    margin: auto;
}

.switch input{ 
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;  
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



#title{
    margin: auto;
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
}

#mainContainer{
    background-color: white;
    margin: 1% 5% auto 5%;
    height: 80%;
    border-radius: 5px;
    padding: 1px;
    box-sizing: border-box;
}

.container-label{
    text-align: center;

}


.square{
    margin: 0 auto;
    display: block;
    width: 80%;
    height: 40%;
    padding: 0.5%;
    box-sizing: border-box;
}

.text{
    font-size: 14pt;
    font-family: 'Times New Roman', Times, serif;

}



#frame-result{
    border: solid 1px rgb(130, 130, 130);
    border-radius: 3px;

}

#output{
    margin: 0;
    

}
